# admin credentials

EXPO_PUBLIC_PRODUCTION=https://example.com
EXPO_PUBLIC_LOCAL=https://example.com
EXPO_PUBLIC_LOCAL2=https://example.com
EXPO_PUBLIC_USERNAME=example@mail.com
EXPO_PUBLIC_PASSWORD=EXMPLE@123